version: "3"
services:
  server:
    build: .
    ports:
      - 3001:3001
    environment:
      - NODE_ENV=development
      - GIT_ROOT=/git-repos
      - DATABASE_URL=postgres://postgres:postgres@postgres:5432/git-en-boite-development
      - REDIS_URL=redis://redis:6379
    depends_on:
      - postgres
      - redis
      - worker
    command: yarn start:server
    volumes:
      - ./git-repos:/git-repos

  worker:
    build: .
    environment:
      - NODE_ENV=development
      - GIT_ROOT=/git-repos
      - DATABASE_URL=postgres://postgres:postgres@postgres:5432/git-en-boite-development
      - REDIS_URL=redis://redis:6379
    depends_on:
      - postgres
      - redis
    command: yarn start:worker
    volumes:
      - ./git-repos:/git-repos

  smoke-tests:
    build: .
    environment:
      - smoke_tests_web_server_url=http://server:3001
      - smoke_tests_remote_repo_url
    command: "echo \"NO OP: please run `yarn smoke start`\""

  postgres:
    image: postgres:12.2-alpine
    environment:
      - POSTGRES_DB=git-en-boite-development
      - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
      - target: 5432
        published: 5433

  redis:
    image: redis:latest
    ports:
      - target: 6379
        published: 6380
